<div class="cse-container">
  <div class="classification-wrapper">
    <h1 class="welcome-heading">Welcome to CSE Motors!</h1>
    
    <div class="vehicles-grid">
      <%- grid %>
    </div>
  </div>
</div>

